{% extends 'base.html' %}
    {% block content %}
          <div class="container cnt">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-dark">PURCHASE ANY ONE <br>YOU WANT</h1>
                </div>
                <div class="col-lg-12">
                    <div class="Search mb-2">
                        <input type="text" placeholder="enter your bike">
                    </div>
                    <div class="submit m-1 pl-5">
                        <button class="btn btn-success" href="#">sumbit</button>
                    </div> 
                </div>
            </div>
          </div>
{% endblock %}
