{% extends 'base.html' %}
{% load static %}
    {% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <form action="" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="my-3">
            <input type="text" name="place" placeholder="place name" class="">
            </div>
            <div class="my-3">
            <input type="number" name="priority" placeholder="priority" class="">
            </div>
            <div class="my-3">
            <input type="date" name="date" placeholder="date" class="">
            </div>
            <div class="my-3">
            <input type="file" name="image" placeholder="image" class="">
            </div>   
            <div class="my-3">
            <button class="btn btn-primary">Add</button>
            </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mt-3 mb-3">
        {% for tour in tours %}
        <div class="tours mb-3">
            <div class="child"><img src="{{tour.image.url}}" width="550px" height="200px" alt=""></div>
            <div class="child">{{tour.place}}</div>
            <div class="child">{{tour.priority}}</div>
            <div class="child"><{{tour.date}}</div>
            <div class="child">
                <a href="{% url 'update' tour.id %}" class="btn btn-primary">update</a>
                <a href="{% url 'delete' tour.id %}" class="btn btn-success">delete</a>
            </div>

        </div>


      </div>
      {% endfor %}  


     </div>
    </div>
</div>
{% endblock %}
